<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>yx - {{ pagename }}</title>
        <link rel="stylesheet" href="/_static/index.css">
        <link rel="stylesheet" href="/_static/pygments.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.css" integrity="sha384-5TcZemv2l/9On385z///+d7MSYlvIEw9FuZTIdZ14vJLqWphw7e7ZPuOiCHJcFCP" crossorigin="anonymous">
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.js" integrity="sha384-cMkvdD8LoxVzGF/RPUKAcvmm49FQ0oxwDF3BGKtDXcEc+T1b2N+teh/OJfpU0jr6" crossorigin="anonymous"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/contrib/auto-render.min.js" integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh" crossorigin="anonymous"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                renderMathInElement(document.body, {
                  delimiters: [
                      {left: ':::tex', right: ':::', display: true},
                      {left: ':tex', right: ':', display: false},
                  ],
                  throwOnError : false
                });
            });
        </script>
    </head>     
    <body>
        <header class="header">
            <div class="menu-div">
                {% for item_name, item in menu.items() %}
                    <a href="{{ item.path }}" class="menu-item{% if item.class is defined %} {{ item.class }}{% endif %}">{{item_name}}</a>
                {% endfor %}
            </div>    
        </header>
        <div class="content">
            {% if  'libs/' in pagename %}
            {% from "menu.html" import render_menu_item %}
            <div class="sidebar">
                <span class="sidebar-title">libs menu</span>
                <ul class="sidebar-ul">
                    {% for item in libs_menu.values() %}
                        {{ render_menu_item(item) }}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if  'notes/' in pagename %}
            {% from "menu.html" import render_menu_item %}
            <div class="sidebar">
                <span class="sidebar-title">notes menu</span>
                <ul class="sidebar-ul">
                    {% for item in notes_menu.values() %}
                        {{ render_menu_item(item) }}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="main">
                {% if  'libs/' in pagename and not pagename == "libs/index" %}
                    {% include './breadcrumb.html' %}
                {% endif %}
                {% if  'notes/' in pagename and not pagename == "notes/index" %}
                    {% include './breadcrumb.html' %}
                {% endif %}
                <main>{{ body }}</main>
            </div>
        </div>
        <footer class="footer">
            <p class="footer-text">
                Yuri Ximenes, {{ year }}. Last update: <purple>{{ now }}</purple>.<br>
                Made using <a href="https://www.sphinx-doc.org/en/master/">sphinx</a>.
            </p>
        </footer>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            if (window.matchMedia("(max-width: 768px)").matches) {
                document.querySelectorAll('.sidebar-collapsible > details[open]').forEach(function(details){
                    details.removeAttribute('open');
                });
            }
        });
    </script>
    </body>  
</html>
