<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="_static/index.css">
    </head> 
    <body>
        <header class="header">
            <div class="menu-div">
                {% for item_name, item_url in menu.items() %}
                    <a href="{{pathto(item_url)}}" class="menu-item">{{item_name}}</a>
                {% endfor %}
            </div>    
        </header>            
        <main class="main">{{ body }}</main>
    </body>  
</html>
