{% macro render_menu_item(item) %}
    <li class="toctree-l1{% if pagename == item.link or (pagename == item.link + '/index' and item.is_dir) %} current{% endif %}">
        {% if item.link %}
            <a href="{{ item.link }}">{{ item.title }}</a>
        {% else %}
            <span>{{ item.title }}</span>
        {% endif %}
        {% if item.children %}
            <ul>
                {% for child in item.children %}
                    {{ render_menu_item(child) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

