:root {
    --white: #d0d0d0;
    --black: #000000;
    --blue: #87afd7;
    --blue2: #87afaf;
    --green: #87af87;
    --green2: #c5fb7d;
    --purple: #af87d7;
    --purple2: #b6b3eb;
    --brown: #af875f;
    --red: #e14141;
    --yellow: #d3a800; 
}

blue {
    color: var(--blue); 
}

blue2 {
    color: var(--blue2);
}

green {
    color: var(--green);
}

green2 {
    color: var(--green2);
}

purple {
    color: var(--purple);
}

purple2 {
    color: var(--purple2);
}

brown {
    color: var(--brown);
}

red {
    color: var(--red);
}

yellow {
    color: var(--yellow);
}


body {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: var(--white);
    background-color: var(--black);
    line-height: 1.5;
}

header {
    border-bottom: 1px solid var(--white);
    padding: 20px;
}

footer {
    padding: 20px;
    border-top: 1px solid var(--white);
}
 
main {
    padding: 20px;
    max-width: 1000px;
    counter-reset: section;
}

@media (min-width: 800px) {
    .content { display: flex;}
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 50px;
    color: var(--brown);
    font-weight: 400;
}

h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
    font-size: 20px;
    color: var(--white);
    font-weight: 400;
}

h1 {
    counter-increment: section;
    counter-reset: subsection;
}

h1::before {
    content: counter(section) ". ";
}

h2 {
    counter-increment: subsection;
    counter-reset: subsubsection;
}

h2::before {
    content: counter(section) "." counter(subsection) ". ";
}

h3 {
    counter-increment: subsubsection;
}

h3::before {
    content: counter(section) "." counter(subsection) "." counter(subsection) ". ";
}

em {
    color: var(--blue2);
}

em::before {
    content: "_";
}

em::after {
    content: "_";
}

strong::before {
    content: "__";
}

strong::after {
    content: "__";
}


a {
    color: var(--blue); 
    text-decoration: underline;
}

code {
    color: var(--purple2);
    padding-left: 3px;
    padding-right: 3px;
}

code::before {
    content: "`";
}

code::after {
    content: "`";
}

pre {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
}

ul {
    line-height: 1.5;
    list-style: circle;
}

ol {
    line-height: 1.5;
}

li {
    margin-bottom: 0px;
}

li:last-child {
    margin-bottom: 0;
}

li > p {
    margin-top: 0px;
    margin-bottom: 0px;
}

blockquote {
    margin-top: 40px;
    border-left: 2px solid var(--white);
    padding-left: 20px;
    margin-bottom: 40px;
}

.sidebar {
    margin: 30px;
    border-right: 1px dashed var(--white);
    padding-right: 30px;
    max-width: 300px;
}

.sidebar-title {
    border-bottom: 1px dashed var(--white);
    padding-bottom: 10px;
    width: 100%;
}

.sidebar-ul {
    list-style: none;
    margin-top: 30px;
    margin-left: -40px;
}

.sidebar-ul-inner, .sidebar-li {
    list-style: none;
}

.sidebar-ul-inner {
    margin-left: -10px;
}

.sidebar-ul-inner-1 {
    margin-left: -20px;
}

.sidebar-li-0 {
    list-style: "- ";
    margin-left: 20px;
}

.sidebar-prefix {
    margin-left: -40px;
}

.sidebar-collapsible > details { margin-bottom: 0.2rem; }
.sidebar-collapsible > details > summary { cursor: pointer; }

@media (max-width: 799px) {
    .sidebar{
        border-right: none;
        max-width: 100%;
    }
    .sidebar-title {
        border-bottom: none;
        padding-bottom: 10px;
        max-width: 100%;
        border-bottom: 1px dashed var(--white);
    }
}

details > summary {
    list-style: none;
}
details > summary::-webkit-details-marker {
    display: none;
}

.sidebar-collapsible > details > summary::before {
    content: ">";
    font-size: 13px;
}

.sidebar-collapsible > details[open] > summary::before {
    content: "∨";
    font-size: 13px;
}

table {
    color: var(--white);
    border-collapse: collapse;
    width: auto;
}

table th,
table td {
    border: none;
    padding: 0;
    text-align: left;
    vertical-align: top;
}

table tr td p, table tr th p {
    padding: 0;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

table th:not(:last-child),
table td:not(:last-child) {
    padding-right: 3ch;
}

table tr:first-child th,
table tr:first-child td {
    padding-top: 10px;
}

table tr:last-child th,
table tr:last-child td {
    padding-bottom: 10px;
}

.captioned-table {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}

table thead {
    border-bottom: 2px dashed var(--white);
}

table tbody {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px dashed var(--white);
}

.title {
    display: inline;
}

.autolink {
    color: var(--green);
    text-decoration: underline;
}

.autolink-libs {
    color: var(--purple);
    text-decoration: underline;
}

.breadcrumb {
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px dashed var(--white);
}

.breadcrumb-separator {
    color: var(--white);
}

@media (max-width: 799px) {
    .breadcrumb{
        border-top: 1px dashed var(--white);
    }
}

version {
    text-decoration: underline;
}
