body {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #d0d0d0;
    background-color: black;
    line-height: 1.5;
    counter-reset: section;
}

header {
    border-bottom: 1px solid #d0d0d0;
    padding: 20px;
}

footer {
    padding: 20px;
    border-top: 1px solid #d0d0d0 
}
 
main {
    padding: 20px;
    max-width: 1000px;
    counter-reset: section;
}

@media (min-width: 800px) {
    .content { display: flex;}
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 50px;
    color: #af875f;
    font-weight: 400;
}

h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
    font-size: 20px;
    color: #d0d0d0;
    font-weight: 400;
}

h1 {
    counter-increment: section;
    counter-reset: subsection;
}

h1::before {
    content: counter(section) ". ";
}

h2 {
    counter-increment: subsection;
    counter-reset: subsubsection;
}

h2::before {
    content: counter(section) "." counter(subsection) ". ";
}

h3 {
    counter-increment: subsubsection;
}

h3::before {
    content: counter(section) "." counter(subsection) "." counter(subsection) ". ";
}

em {
    color: #87afaf;
}

em::before {
    content: "_";
}

em::after {
    content: "_";
}

a {
    color: #8dc1f5; 
    text-decoration: underline;
}

code {
    /*background-color: #2f2f2f; */
    color: #b6b3eb;
    padding-left: 3px;
    padding-right: 3px;
}

code::before {
    content: "`";
}

code::after {
    content: "`";
}

pre {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
}

blockquote {
    border-left: 2px solid white;
    padding-left: 20px;
}

ul {
    line-height: 1.5;
    list-style: circle;
}

ol {
    line-height: 1.5;
}

li {
    margin-bottom: 0px;
}

li:last-child {
    margin-bottom: 0;
}

li > p {
    margin-top: 0px;
    margin-bottom: 0px;
}

blue {
    color: #87afd7;
}

blue2 {
    color: #87afaf;
}   

green {
    color: #87af87;  
}

green2 {
    color: #c5fb7d;
}

purple {
    color: #af87d7;
}

purple2 {
    color: #b6b3eb;
}

brown {
    color: #af875f;
}

red {
    color: #e14141;
}

yellow {
 color: #d3a800;
}

.sidebar {
    margin: 30px;
    border-right: 1px dashed #d0d0d0;
    padding-right: 30px;
    max-width: 250px;
}

@media (max-width: 799px) {
    .sidebar{
        border-right: none;
        border-bottom: 1px dashed #d0d0d0; 
    }
}

.sidebar-title {
    border-bottom: 1px dashed #d0d0d0;
    padding-bottom: 10px;
    width: 125px;
}

.sidebar-ul {
    margin-left: -20px;
}

table {
    color: white;
    border-collapse: collapse;
    width: 100%;
    margin: 2em 1em;
}

table th {
    border: none;
    margin-left: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-align: left;
    vertical-align: top;
}

table td {
    border: none;
    margin-left: 10px;
    padding-top: 5px;
    padding-left: 10px;
    text-align: left;
    vertical-align: top;
}

table td p {
    margin: 0;
    padding: 0;
}


table thead {
    border-bottom: 1px dashed white;
    padding-bottom: 1em;
}

table tbody {
    border-bottom: 1px dashed white;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

table th:not(:last-child),
table td:not(:last-child) {
    padding-right: 2ch;
}

table caption {
    caption-side: bottom;
    text-align: left;
    margin-top: 1em;
    font-size: 0.9em;
}

table caption a {
    text-align: center;
}

.title {
    display: inline;
}

h0 {
    font-size: 25px;
    font-weight: 400;
    color: #b6b3eb;
}

h0::after {
    content: ":";
}

s0 {
    font-size: 25px;
    font-weight: 400;
    color: #d0d0d0;
}




